<li class="nav-dropdown-container support-vue">
  <a href="/support-vuejs/" class="nav-link">قم بدعم ڤيو</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><ul>
      <li><a href="/support-vuejs/#One-time-Donations" class="nav-link">تبرعات المرة الواحدة</a></li>
      <li><a href="/support-vuejs/#Recurring-Pledges" class="nav-link">التبرعات الدورية</a></li>
      <li><a href="https://vue.threadless.com" target="_blank" class="nav-link">متجر التي شيرت</a></li>
    </ul></li>
  </ul>
</li>
