<ul class="menu-root">
  <% ['api', 'style-guide'].indexOf(type) === -1 && site.pages.find({type: type}).sort('order').each(function (p) { %>
    <% var fileName = p.path.replace(/^.+?\/([\w-]+)\.html/, '$1') %>
    <% if (type === 'guide') { %>
      <% if (fileName === 'installation') { %>
        <li><h3>الاساسيات</h3></li>
      <% } %>
      <% if (fileName === 'components-registration') { %>
        <li><h3>المكونات</h3></li>
      <% } %>
      <% if (fileName === 'transitions') { %>
        <li><h3>الانتقالات والانيميشن</h3></li>
      <% } %>
      <% if (fileName === 'mixins') { %>
        <li><h3>اعادة الاستخدام والتكوين</h3></li>
      <% } %>
      <% if (fileName === 'single-file-components') { %>
        <li><h3>الادوات</h3></li>
      <% } %>
      <% if (fileName === 'routing') { %>
        <li><h3>توسيع المشروع</h3></li>
      <% } %>
      <% if (fileName === 'reactivity') { %>
        <li><h3>ادوات داخلية</h3></li>
      <% } %>
      <% if (fileName === 'migration') { %>
        <li><h3>هجرة الاصدارات</h3></li>
      <% } %>
      <% if (fileName === 'comparison') { %>
        <li><h3>معلومات</h3></li>
      <% } %>
    <% } %>
    <li>
      <a href="<%- url_for(p.path) %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.title %></a>
    </li>
  <% }) %>
</ul>
